[project]
	description = Software-Defined GPS Signal Simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AllenZF
[access "refs/for/refs/*"]
	read = group user/AllenZF
	push = group user/AllenZF
	label-Code-Review = -2..+2 group user/AllenZF
	label-Verified = -1..+1 group user/AllenZF
	rebase = group user/AllenZF
	removeReviewer = group user/AllenZF
	submit = group user/AllenZF
[access "refs/heads/*"]
	read = group user/AllenZF
	create = group user/AllenZF
	push = +force group user/AllenZF
	pushMerge = group user/AllenZF
[access "refs/tags/*"]
	push = group user/AllenZF
	push = +force group user/AllenZF
